<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <activity android:name="com.remilo.alarm.review.AlarmDesignReviewActivity"
      android:exported="false" android:excludeFromRecents="true"
      android:theme="@android:style/Theme.Material.Light.NoActionBar" />
  </application>
</manifest>
